@charset "UTF-8";

@font-face
{
    font-family: "nscj-reg";
    src: url("../font/nscj-reg.otf");
}

body
{
    margin: 0;
    font-family: "nscj-reg";
    user-select: none;
}

.card-zone
{
    padding-bottom: 100px;
}

.menu-bar
{
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: white;
}

.menu-bar .button
{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}