@charset "UTF-8";

body
{
    margin: 0;
}

.dropzone
{
    width: 200px;
    height: 200px;
    background-color: #78FB21;
    border: 2.5px dashed transparent;
    transition: background-color .2s,border-color .2s;
}

.dropzone.dragover
{
    background-color: transparent;
    border-color: #78FB21;
}